#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

#define BASE  0
#define NAV   1
#define NUM   2
#define SYM   3
#define FUN   4
#define MEDIA 5
#define MOUSE 6

/ {
    keymap {
        compatible = "zmk,keymap";

        base_layer {
            bindings = <
            // N00      K01            N02      N03      N04      N05      N06           N07          N08      N09      N0A      N0B      K0C       N0D
               &none    &kp Q          &none    &none    &none    &none    &none         &none        &none    &none    &none    &none    &kp SEMI  &none

            // N10      K11            K12      K13      K14      K15      K16           K17          K18      K19      K1A      K1B      K1C       N1D
               &none    &mt LGUI A     &kp W    &kp E    &kp R    &kp T    &lt MEDIA TAB &lt FUN BSLH &kp Y    &kp U    &kp I    &kp O    &mt RGUI P &none

            // N20      K21            K22          K23           K24            K25      N26          N27          K28      K29            K2A           K2B          K2C             N2D
               &none    &mt LGUI Z     &mt LALT S   &mt LCTRL D   &mt LSHIFT F   &kp G    &none        &none        &kp H    &mt RSHIFT J   &mt RCTRL K   &mt RALT L   &mt RGUI FSLH   &none

            // N30      N31            K32      K33      K34      K35      N36           N37          K38      K39      K3A        K3B      N3C       N3D
               &none    &none          &kp X    &kp C    &kp V    &kp B    &none         &none        &kp N    &kp M    &kp COMMA  &kp DOT  &none     &none

            // N40      N41            N42      N43      K44             K45           N46          N47          K48           K49              N4A      N4B      N4C      N4D
               &none    &none          &none    &none    &lt NUM SPACE   &lt NAV ESC   &none        &none        &lt SYM RET   &lt MOUSE BSPC   &none    &none    &none    &none
            >;
        };

        nav_layer {
            bindings = <
            // N00      K01      N02      N03      N04      N05      N06          N07      N08      N09      N0A      N0B      K0C      N0D
               &trans   &trans   &trans   &trans   &trans   &trans   &trans      &trans   &trans   &trans   &trans   &trans   &trans   &trans

            // N10      K11        K12      K13      K14       K15      K16          K17      K18      K19      K1A      K1B      K1C      N1D
               &trans   &kp LGUI   &trans   &trans   &trans    &trans   &trans      &trans   &trans   &trans   &trans   &trans   &kp RIGHT   &trans

            // N20      K21      K22       K23        K24         K25      N26          N27      K28       K29       K2A       K2B       K2C       N2D
               &trans   &trans   &kp LALT  &kp LCTRL  &kp LSHIFT  &trans   &trans      &trans   &kp CAPS  &kp LEFT  &kp DOWN  &kp UP    &kp END &trans

            // N30      N31      K32      K33      K34      K35      N36          N37      K38      K39      K3A         K3B          K2C      N3D
               &trans   &trans   &trans   &trans   &trans   &trans   &trans      &trans   &kp INS  &kp HOME &kp PG_UP   &kp PG_DN    &trans  &trans

            // N40      N41      N42      N43      K44      K45      N46          N47      K48      K49      N4A      N4B      N4C      N4D
               &trans   &trans   &trans   &trans   &trans   &trans   &trans      &trans   &kp DEL  &kp BSPC &trans   &trans   &trans   &trans
            >;
        };

        num_layer {
            bindings = <
            // N00      K01      N02      N03      N04      N05      N06          N07      N08      N09      N0A      N0B      K0C       N0D
               &trans   &trans   &trans   &trans   &trans   &trans   &trans      &trans   &trans   &trans   &trans   &trans   &kp SQT   &trans

            // N10      K11        K12      K13      K14      K15      K16          K17      K18       K19      K1A      K1B      K1C        N1D
               &trans   &kp LGUI   &trans   &trans   &trans   &trans   &trans      &kp BSLH  &kp LBKT  &kp N7   &kp N8   &kp N9   &kp EQUAL  &trans

            // N20      K21      K22       K23        K24         K25      N26          N27      K28       K29      K2A      K2B      K2C        N2D
               &trans   &trans   &kp LALT  &kp LCTRL  &kp LSHIFT  &trans   &trans      &trans   &kp RBKT  &kp N4   &kp N5   &kp N6   &kp MINUS  &trans

            // N30      N31      K32      K33      K34       K35      N36          N37      K38      K39      K3A      K3B      N3C      N3D
               &trans   &trans   &trans   &trans   &mo NAV   &trans   &trans      &trans   &kp N0   &kp N1   &kp N2   &kp N3   &trans   &trans

            // N40      N41      N42      N43      K44      K45      N46          N47      K48       K49      N4A      N4B      N4C      N4D
               &trans   &trans   &trans   &trans   &trans   &trans   &trans      &trans   &kp GRAVE &kp BSPC &trans   &trans   &trans   &trans
            >;
        };

        sym_layer {
            bindings = <
               &trans   &trans   &trans   &trans   &trans   &trans   &trans      &trans   &trans   &trans   &trans   &trans   &trans   &trans
               &trans   &trans   &trans   &trans   &trans   &trans   &trans      &trans   &trans   &trans   &trans   &trans   &trans   &trans
               &trans   &trans   &trans   &trans   &trans   &trans   &trans      &trans   &trans   &trans   &trans   &trans   &trans   &trans
               &trans   &trans   &trans   &trans   &trans   &trans   &trans      &trans   &trans   &trans   &trans   &trans   &trans   &trans
               &trans   &trans   &trans   &trans   &trans   &trans   &trans      &trans   &trans   &trans   &trans   &trans   &trans   &trans
            >;
        };

        fun_layer {
            bindings = <
               &trans   &trans   &trans   &trans   &trans   &trans   &trans      &trans   &trans   &trans   &trans   &trans   &trans   &trans
               &trans   &trans   &trans   &trans   &trans   &trans   &trans      &trans   &trans   &trans   &trans   &trans   &trans   &trans
               &trans   &trans   &trans   &trans   &trans   &trans   &trans      &trans   &trans   &trans   &trans   &trans   &trans   &trans
               &trans   &trans   &trans   &trans   &trans   &trans   &trans      &trans   &trans   &trans   &trans   &trans   &trans   &trans
               &trans   &trans   &trans   &trans   &trans   &trans   &trans      &trans   &trans   &trans   &trans   &trans   &trans   &trans
            >;
        };

        media_layer {
            bindings = <
               &trans   &trans   &trans   &trans   &trans   &trans   &trans      &trans   &trans   &trans   &trans   &trans   &trans   &trans
               &trans   &trans   &trans   &trans   &trans   &trans   &trans      &trans   &trans   &trans   &trans   &trans   &trans   &trans
               &trans   &trans   &trans   &trans   &trans   &trans   &trans      &trans   &trans   &trans   &trans   &trans   &trans   &trans
               &trans   &trans   &trans   &trans   &trans   &trans   &trans      &trans   &trans   &trans   &trans   &trans   &trans   &trans
               &trans   &trans   &trans   &trans   &trans   &trans   &trans      &trans   &trans   &trans   &trans   &trans   &trans   &trans
            >;
        };

        mouse_layer {
            bindings = <
               &trans   &trans   &trans   &trans   &trans   &trans   &trans      &trans   &trans   &trans   &trans   &trans   &trans   &trans
               &trans   &trans   &trans   &trans   &trans   &trans   &trans      &trans   &trans   &trans   &trans   &trans   &trans   &trans
               &trans   &trans   &trans   &trans   &trans   &trans   &trans      &trans   &trans   &trans   &trans   &trans   &trans   &trans
               &trans   &trans   &trans   &trans   &trans   &trans   &trans      &trans   &trans   &trans   &trans   &trans   &trans   &trans
               &trans   &trans   &trans   &trans   &trans   &trans   &trans      &trans   &trans   &trans   &trans   &trans   &trans   &trans
            >;
        };
    };
};
