#include <behaviors.dtsi>
#include <dt-bindings/zmk/behaviors.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/outputs.h>
#include <dt-bindings/zmk/pointing.h>

#define SPACE_SHIFT 0
#define BASE 1
#define FN_TRIGGER 2
#define FN 3
#define MOUSE 4

// 定义宏处理 00
/ {
    conditional_layers {
        compatible = "zmk,conditional-layers";

        fn_trigger_enables_fn {
            if-layers = <FN_TRIGGER>;
            then-layer = <FN>;
        };
    };

    behaviors {
        base_to_hold: base_to_hold {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            flavor = "tap-preferred";
            tapping-term-ms = <3000>;
            bindings = <&to>, <&kp>;
            display-name = "Layer Switch / Shift Tap";
        };

        spc_shift: space_shift {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            flavor = "tap-preferred";
            tapping-term-ms = <200>;
            quick-tap-ms = <150>;
            bindings = <&kp>, <&kp>;
            display-name = "Space Shift";
        };
    };

    macros {
        macro_00: macro_00 {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp N0 &kp N0>;
        };
    };

    combos {
        compatible = "zmk,combos";

        combo_mouse_layer {
            timeout-ms = <50>;
            key-positions = <60 65>;
            bindings = <&tog MOUSE>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        // 第 0 层：空格 Shift 默认层 (Default Space Shift Layer)
        default_layer {
            bindings = <
            // ------------------------------------- 左手 (7列) ---------------------        ------------------------------------- 右手 (7列) -------------------------------------
            &kp GRAVE               &kp Q      &kp N0     &kp N1     &kp N2                 &kp N3    &kp N4         &kp N5    &kp N6    &kp N7    &kp N8    &kp N9    &kp SEMI  &kp SQT
            &kp LSHIFT              &kp A      &kp W      &kp E      &kp R                  &kp T     &kp TAB        &kp BSLH  &kp Y     &kp U     &kp I     &kp O     &kp P     &kp EQUAL
            &kp LALT                &kp Z      &kp S      &kp D      &kp F                  &kp G     &mo FN         &mo FN    &kp H     &kp J     &kp K     &kp L     &kp FSLH  &kp MINUS
            &kp HOME                &kp PG_UP  &kp X      &kp C      &kp V                  &kp B     &kp ESC        &kp DEL   &kp N     &kp M     &kp COMMA &kp DOT   &kp UP    &kp DOWN
            &kp END                 &kp PG_DN  &none      &none      &spc_shift LSHIFT SPACE &kp CAPS  &kp LGUI      &base_to_hold BASE RSHIFT &lt FN_TRIGGER RET &kp BSPC  &kp LBKT  &kp RBKT  &kp LEFT  &kp RIGHT
            >;
        };

        // 第 1 层：普通空格模式 (Plain Space Layer)
        base_layer {
            bindings = <
            // ------------------------------------- 左手 (7列) ---------------------        ------------------------------------- 右手 (7列) -------------------------------------
            &trans    &trans    &trans    &trans    &trans      &trans    &trans       &trans    &trans    &trans    &trans    &trans    &trans    &trans
            &trans    &trans    &trans    &trans    &trans      &trans    &trans       &trans    &trans    &trans    &trans    &trans    &trans    &trans
            &trans    &trans    &trans    &trans    &trans      &trans    &trans       &trans    &trans    &trans    &trans    &trans    &trans    &trans
            &trans    &trans    &trans    &trans    &trans      &trans    &trans       &trans    &trans    &trans    &trans    &trans    &trans    &trans
            &trans    &trans    &trans    &trans    &kp SPACE   &trans    &trans       &base_to_hold SPACE_SHIFT RSHIFT &lt FN RET &trans &trans &trans &trans &trans
            >;
        };

        // 第 2 层：默认层 FN+空格触发层 (FN Mouse Trigger Layer)
        fn_trigger_layer {
            bindings = <
            // ------------------------------------- 左手 (7列) ---------------------------     ------------------------------------- 右手 (7列) -------------------
            &trans     &trans     &trans     &trans     &trans    &trans            &trans      &trans    &trans    &trans    &trans    &trans    &trans    &trans
            &trans     &trans     &trans     &trans     &trans    &trans            &trans      &trans    &trans    &trans    &trans    &trans    &trans    &trans
            &trans     &trans     &trans     &trans     &trans    &trans            &trans      &trans    &trans    &trans    &trans    &trans    &trans    &trans
            &trans     &trans     &trans     &trans     &trans    &trans            &trans      &trans    &trans    &trans    &trans    &trans    &trans    &trans
            &trans     &trans     &trans     &trans     &trans    &trans            &trans      &trans    &trans    &trans    &trans    &trans    &trans    &trans
            >;
        };

        // 第 3 层：功能/小键盘层 (FN Layer)
        fn_layer {
            bindings = <
            // ------------------------------------- 左手 (7列) ---------------------------     ------------------------------------- 右手 (7列) -------------------
            &trans     &trans     &kp FSLH   &trans     &trans    &trans            &trans      &trans    &trans    &trans    &trans    &trans    &kp MINUS &trans
            &trans     &trans     &trans     &trans     &trans    &trans            &trans      &trans    &kp N7    &kp N4    &kp N5    &kp N6    &kp SQT   &trans
            &trans     &trans     &trans     &trans     &trans    &trans            &trans      &trans    &kp N8    &kp N1    &kp N2    &kp N3    &kp EQUAL &trans
            &trans     &trans     &trans     &trans     &trans    &trans            &bt BT_CLR  &trans    &kp N9    &kp N0    &macro_00 &kp DOT   &trans    &trans
            &trans     &trans     &trans     &trans     &trans    &trans            &trans      &trans    &trans    &trans    &trans    &trans    &trans    &trans
            >;
        };

        // 第 4 层：鼠标/导航层 (Mouse/Nav Layer)
        mouse_layer {
            bindings = <
            // ------------------------------------- 左手 (7列) ---------------------------     ------------------------------------- 右手 (7列) -------------------
            &trans     &trans     &trans          &trans          &trans          &trans     &trans      &trans    &trans    &trans    &trans    &trans    &trans    &trans
            &trans     &trans     &mkp RCLK       &mkp MCLK       &mkp LCLK       &trans     &trans      &trans    &trans    &trans    &trans    &trans    &trans    &trans
            &trans     &trans     &mmv MOVE_LEFT  &mmv MOVE_UP    &mmv MOVE_RIGHT &trans     &trans      &trans    &kp UP    &kp DOWN    &kp LEFT    &kp RIGHT    &trans    &trans
            &trans     &trans     &msc SCRL_UP  &mmv MOVE_DOWN  &msc SCRL_DOWN    &trans     &trans      &trans    &trans    &trans    &trans    &trans    &trans    &trans
            &trans     &trans     &trans          &trans          &trans          &trans     &trans      &trans    &trans    &trans    &trans    &trans    &trans    &trans
            >;
        };
    };
};
